.fullBody{
background: radial-gradient(circle at 10% 20%, rgb(242, 235, 243) 0%, rgb(234, 241, 249) 90.1%);
}

.container {
  position: relative;
}

.maincard {
  position: fixed;
  display: block;
  margin:0% 20%;
  top: 150px;
  border-radius: 0.75rem;
  background:white;
  width: 550px;
}

.form-row{
    padding: 0px 20px;
}
.signature{
  position: relative;
  text-align: center;
  top: -35px;
  color: #979ca0;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
}
.signatureLink{
    color: #5a6268;

}